nodered/node-red-data/flows_hello.json
[{"id":"81e8caa4.d2882","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6f3fd1f6.da5e9","type":"googlehome-config-node","z":"81e8caa4.d2882","ipaddress":"192.168.14.14","language":"pl"},{"id":"8584638e.d3e748","type":"googlehome-config-node","z":"","ipaddress":"192.168.14.14","language":"pl"},{"id":"1026b577.bff16b","type":"googlehome-config-node","z":"","ipaddress":"192.168.14.14","language":"pl"},{"id":"1fea3736.ad01c9","type":"inject","z":"81e8caa4.d2882","name":"","topic":"","payload":"Up and running !!!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":340,"wires":[["d7cc4954.77f9b8","27a8c216.57a91e"]]},{"id":"d7cc4954.77f9b8","type":"debug","z":"81e8caa4.d2882","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":560,"y":420,"wires":[]},{"id":"ce5a8e3f.d4077","type":"googlehome-notify","z":"81e8caa4.d2882","server":"6f3fd1f6.da5e9","name":"","x":600,"y":240,"wires":[]},{"id":"9ef06368.5bfcd8","type":"inject","z":"81e8caa4.d2882","name":"","topic":"","payload":"reb znowu leży","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":240,"wires":[["ce5a8e3f.d4077"]]},{"id":"5c83b725.78e46","type":"chromecast-play","z":"81e8caa4.d2882","name":"","url":"","contentType":"audio/mp3","ip":"192.168.14.14","x":670,"y":500,"wires":[["3229193c.62016e"]]},{"id":"3229193c.62016e","type":"debug","z":"81e8caa4.d2882","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":500,"wires":[]},{"id":"51df61a1.8da4d","type":"google-tts","z":"81e8caa4.d2882","name":"google tts pl","inputField":"payload","inputFieldType":"msg","outputField":"payload","outputFieldType":"msg","languageField":"pl","languageFieldType":"str","speedField":"1","speedFieldType":"num","x":350,"y":560,"wires":[["5e3e36df.5251"]]},{"id":"e330a098.86082","type":"inject","z":"81e8caa4.d2882","name":"","topic":"","payload":"uwaga Awaria znowu coś nie działa ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":560,"wires":[["51df61a1.8da4d"]]},{"id":"5e3e36df.5251","type":"function","z":"81e8caa4.d2882","name":"","func":"url = msg.payload;\nmsg.payload = {\n    ip: '192.168.14.14',\n    url: '',\n    contentType: 'audio/mp3'\n}\n\nmsg.payload.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":500,"wires":[["5c83b725.78e46"]]},{"id":"27a8c216.57a91e","type":"google-tts","z":"81e8caa4.d2882","name":"google tts en","inputField":"payload","inputFieldType":"msg","outputField":"payload","outputFieldType":"msg","languageField":"en","languageFieldType":"str","speedField":"1","speedFieldType":"num","x":350,"y":460,"wires":[["5e3e36df.5251"]]}]